@import "tailwindcss";

:root {
    --background: #ecfdf5;
    --foreground: #0f5c66;
}

.scroller {
    --scrollbar-color-track: #ecfdf5;
}

@supports (scrollbar-width: auto) {
    .scroller {
        scrollbar-color: #23656e var(--scrollbar-color-track);
        scrollbar-width: thin;
    }
}

@theme {
    --color-dark-green: #0f5c66;
    --color-light-green: #ecfdf5;
    --color-settings-text: #053138;
    --color-settings-sidebar-selected: #dbf1f1;
    --breakpoint-xs: 30rem;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
