@import 'tailwindcss';

:root {
  --background: #ecfdf5;
  --foreground: #0f5c66;
}

.scroller {
  --scrollbar-color-track: #ecfdf5;
}

@supports (scrollbar-width: auto) {
  .scroller {
    scrollbar-color: #23656e var(--scrollbar-color-track);
    scrollbar-width: thin;
  }
}

/* Optional: WebKit-specific for more control */
@supports selector(::-webkit-scrollbar) {
  .scroller::-webkit-scrollbar {
    width: 8px; /* vertical scrollbar width */
    height: 8px; /* horizontal scrollbar height */
  }

  .scroller::-webkit-scrollbar-thumb {
    background: #23656e;
    border-radius: 4px;
  }

  .scroller::-webkit-scrollbar-track {
    background: var(--scrollbar-color-track);
  }
}

@theme {
  --color-dark-green: #0f5c66;
  --color-light-green: #ecfdf5;
  --color-settings-text: #053138;
  --color-settings-sidebar-selected: #dbf1f1;
  --breakpoint-xs: 30rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Loader! */
.loader {
  border: 4px solid rgba(15, 92, 102);
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 4px solid rgba(15, 92, 102);
  border-left-color: transparent;
}

.loader {
  border: 4px solid rgba(15, 92, 102);
  border-left-color: transparent;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* Loader end */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
